/build/
/vecmath/build/
/JFreechartlibrarywrapper/build/
/ArielGeometryEditor/build/
/ArielGeometryRoseViewer/build/
/ArielGeometryJFCViewer/build/
/PersistanceTest/nbproject/private/
/PersistanceTest/build/
/ArielGeometryEditorHDR/nbproject/private/
/ArielGeometryEditorHDR/build/
/ArielGeometryJFCViewerHDR/build/
/ArielGeometryJFCViewerHDR/nbproject/private/
/ArielGeometryRoseViewerHDR/nbproject/private/
/JFreechartlibrarywrapperHDR/build/
/ArielGeometryRoseViewerHDR/build/
/vecmathHDR/nbproject/private/
/JFreechartlibrarywrapperHDR/nbproject/private/
/nbproject/private/
/vecmathHDR/build/